@import "tailwindcss";

:root {
    --font-montserrat: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
    --font-raleway: var(--font-raleway), ui-sans-serif, system-ui, sans-serif;
    /*--font-gilroy: var(--font-gilroy), ui-sans-serif, system-ui, sans-serif;*/
    /*COLORS*/
    --dark: #232829;
    --gray: #DCDCDC;
    --danger: #FF4E4E;
    --light-danger: #FD5656;
    --dark-green: #1D5B43;
    --light-green: #81FE95;
    --yellow-accent: #FDB056;
    --light-yellow: #FFBB00;


}

@theme inline {
    /* Fonts */
    --font-sans: var(--font-montserrat);
    --font-mono: var(--font-raleway);
    /*--font-gilroy: var(--font-gilroy);*/
    /* Colors */
    --color-new-main-dark: var(--dark);
    --color-new-gray: var(--gray);
    --color-new-danger: var(--danger);
    --color-new-light-danger: var(--light-danger);
    --color-new-dark-green: var(--dark-green);
    --color-new-light-green: var(--light-green);
    --color-new-yellow-accent: var(--yellow-accent);
    --color-new-light-yellow: var(--light-yellow);

    /* Custom Breakpoints */
    --breakpoint-xs: 375px;
    --breakpoint-2md: 1200px;

}
@layer utilities {


    .container {
        max-width: 1248px;
    }

    .card {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }

}

